@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BioRhyme:wght@200..800&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Yellowtail&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: "Bebas Neue", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.page1 {
  position: relative;
  width: 100%;
  background-color: #823513;
}

/* background: #813513 */
/* text color: #faae33 */

/* after the background setup */
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px dotted #faae33;
  z-index: 10;
}

header a{
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  background: #faae33;
  color: #402011;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 30px;
}

#buyBtn i{
  padding-left: 0.3rem;
}

.nav-mid{
  position: relative;
  right: 5rem;
}

/* end of naviagtion */

.background, .background2{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./images/background.undefined");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 1;
}

.background2{
  background-image: url("./images/texture.avif");
  opacity: 0.3;
  z-index: 0;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 700vh; 
  z-index: 9;
}

.canvasContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  /* top: 0; */
  top: 35%;
  left: 0;
  display: flex;
  justify-content: center;
  overflow-x: clip;
  /* background: yellow; */
}

#frame {
  width: 100%;
  height: 100vh;
  display: block;
  transform: scale(1.3);
}

.right-navigation{
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  gap: 0.3rem;
  /* background: yellow; */
  z-index: 10;
}

.right-navigation a{
  background: #faae33;
  color: #402011;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-navigation i{
  font-size: 1.5rem;
}
/* end of background */

/* textBox */
.textBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #faae33;
  z-index: 3;
}

#heading {
  width: 100%;
  text-align: center;
  font-size: 13rem;
  font-weight: 800;
  letter-spacing: -1rem;
  line-height: 13rem;
  border-bottom: 5px dotted #faae33;
}

.textBox h4{
  font-size: 5rem;
  letter-spacing: -0.25rem;
}

#box1, #box2{
  width: 100%;
  height: 5%;
  padding: 0 1.5rem;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#box1 p{
  width: 14%;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.btn{
  padding: 1rem 1.5rem;
  width: 7rem;
  text-decoration: none;
  background: #faae33;
  color: #402011;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

#box2{
  margin-top: 90vh;
  height: 100vh;
  justify-content: space-between;
}

#box2 h1{
  font-size: 9rem;
  font-weight: 800;
  letter-spacing: -0.5rem;
  line-height: 9rem;
  width: 70%;
}

#box2 p{
  width: 15%;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

#box3, .rightDiv, .leftDiv {
  margin-top: 10rem;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

#box3 h1{
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: -12px;
  line-height: 8.5rem;
}

.ingredients img{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #faae33;
  margin-left: 0.5rem;
}

#box3 p{
  width: 20%;
  text-align: center;
  margin-top: 3rem;
}

.rightDiv p{
  width: 15rem;
  margin-bottom: 1rem;
}

.rightContent{
  position: relative;
  left: 30%;
}

.leftDiv{
  padding-left: 1rem;
  align-items: start;
}

#subHeading{
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: -12px;
  line-height: 8.5rem;
}

/* end of textBox */


/* page2 */
.page2{
  width: 100%;
  height: 250vh;
  display: flex;
  position: relative;
  z-index: 10;
}

.page2 .left{
  position: relative;
  width: 55%;
  height: 100%;
  background: #281006;
  color: #faae33;
}

.page2 .right{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right img{
  position: relative;
  width: 110%;
  height: 125vh;
  object-fit: cover;
}

#headingDiv{
  padding: 3rem 2rem;
  border-bottom: 5px dotted #faae33;
}

#headingDiv h2{
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
}

.page2 .left h4{
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 35%;
  padding: 0 2rem;
}

#itemBox{
  margin-top: 10rem;
  width: 100%;
  /* background: yellow; */
  padding: 4rem 0;
}

#item{
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#item img{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: 2px solid #faae33;
  border-radius: 50%;
}

#item p{
  width: 35%;
  margin-top: 0;
  font-size: 0.8rem;
}

.page2 .box{
  padding: 0 2rem;
  margin-top: 15rem;
  font-size: 2rem;
}

.page2 .bottomBox{
  position: absolute;
  bottom: 10%;
}

.page2 .bottomBox h2{
  font-size: 4.5rem;
  width: 96%;
  padding: 0 2rem;
  line-height: 3.5rem;
  font-weight: 800;
}

/* page3 */
.page3{
  position: relative;
  width: 100%;
  height: 300vh;
  flex-direction: column;
  background: #eb9f36;
  color: #402011;
  padding: 6rem 2rem;
  z-index: 10;
}

.page3 h2{
  font-size: 6rem;
  font-weight: 800;
  line-height: 5rem;
}

.page3 p{
  font-size: 0.8rem;
  font-weight: 600;
  width: 20%;
  margin-top: 1rem;
}

.page3 .box{
  width: 100%;
  padding: 2rem;
  height: 36rem;
}

.page3 .card{
  width: 30rem;
  height: 33rem;
  overflow: hidden;
  /*  */
  rotate: 6deg;
}

.card-left{
  float: left;
}

.card-right{
  float: right;
}

.cardTxt{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cardTxt h4{
  background: #402011;
  color: #eb9f36;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.card p{
  width: 35%;
  margin-top: 0;
}

.card img{
  width: 100%;
  height: 29rem;
  border-radius: 5px;
}